doctype html

head
    title Hello Dojo
    link(rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.10.1/dijit/themes/soria/soria.css" media="screen")

    script.
        var dojoConfig = {
            packages: [
                {
                    name: "demo",
                    location: "/js"
                }
            ]
        };

    script(src="dojo/dojo.js")
    //script.
        require([
            "dojo/parser",
            "dijit/form/NumberTextBox",
            "dijit/form/Button",
            "dijit/form/DateTextBox",
            "dijit/form/TimeTextBox",
            "js/yetAnotherModule",
            "dojo/store/Memory",
            "dijit/form/FilteringSelect",
            "dojo/domReady!"]
        );

    style
        div {margin-bottom:50px;}
        p:hover { color: #F76F76; }
        #foobar { min-width: 300px; }
        #dialog { min-width: 400px; }

body.soria

    //script.
        require(["dijit/Dialog"]);




    //script.
        require(["dijit/Dialog.js","dojo/domReady!"],function(Dialog) {
                    var myDialog = new Dialog({title: "Hello Dijit!"}, "foobar");
                    myDialog.startup();
                    //myDialog.show();
                }
        )


    //div(data-dojo-type="dijit/Dialog" title="Hello Dijit!" id="someId")


    div
        h1 dupanka

    div#mydiv

        br

        div
            label(for="number") Age:

            input(
            id="number"
            type="text"
            value="67"
            required="true"
            data-dojo-type="dijit/form/NumberTextBox")

        input#date(
            value="2011-09-15"
            data-dojo-type="dijit/form/DateTextBox"
        )

        input#time(
            required="true"
            data-dojo-type="dijit/form/TimeTextBox"
            data-dojo-props="constraints:{timePattern: 'HH:mm:ss', clickableIncrement: 'T00:15:00', visibleIncrement: 'T00:15:00', visibleRange: 'T01:00:00'},invalidMessage: 'bad time'"
        )

    h1#greeting To jest test

    h1#greeting To jest greeting

    div(data-dojo-id="myStore", data-dojo-type="dojo/store/Memory", data-dojo-props="data:[{ name: 'Alabama', id: 'AL' },{ name: 'Alaska', id: 'AK' }, { name: 'Arizona', id: 'AZ' }, { name: 'California', id: 'CA' },  { name: 'Colorado', id: 'CO' },  { name: 'Connecticut', id: 'CT' }, { name: 'New York', id: 'NY' }]")

    select(id="mySelect", name="state", value="CA", data-dojo-type="dijit/form/FilteringSelect", data-dojo-props="searchAttr: 'name', store: myStore")


    button#myButt(
        type="button",
        data-dojo-type="dijit/form/Button",
        iconClass:'dijitIconNewTask',
        showLabel:false

    ) Click Me sucker@!


    script.
        require(["js/anotherModule"], function (anotherModule) {
            anotherModule.logMe("from anotheModule!");
        });

    script.
        require([
            'js/myModule'
        ], function (myModule) {
            myModule.setText('greeting', 'Hellojajko');
            setTimeout(function () {
                myModule.restoreText('greeting')
            }, 3000)
        });

    ul#list
        li.odd pierwszy element
            h1.italic testowy italic
        li.even drugi element
        li jakiś inny


    //div#foobar(data-dojo-type="dijit/Dialog", title="Foo!", data-dojo-props="title: 'dupajajo'")
        p this is my
        h2 fucking
        h1 content !

    //script.
        require(["dijit/registry", "dojo/parser", "dojo/json", "dojo/_base/config", "dijit/Dialog", "dojo/domReady!"],
                function (registry, parser, JSON, config) {
            parser.parse();
            var myDialog = registry.byId("foobar");
            myDialog.show();
        })

    div#dialog(
        data-dojo-type="js/MyDialog"
        data-dojo-props="title: 'dojo/_base/config.baseUrl demo', authorAvatarSrc: '/includes/authors/sam_foster/avatar.jpg', authorName: 'Sam Foster'")


    script.
        require(["js/MyDialog", "dijit/registry", "dojo/json", "dojo/_base/config",
                    "dojo/parser", "dojo/domReady!"],
                function(myDialog, registry, JSON, config, parser) {
                    parser.parse();
                    var dialog = registry.byId("dialog");
                    dialog.set("content", "<pre>" + JSON.stringify(config, null, "\t") + "</pre>");
                    dialog.show();
                });



