doctype html

head
    title Hello Dojo
    link(rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.10.1/dijit/themes/claro/claro.css" media="screen")

    script(src="dojo/dojo.js", data-dojo-config="async: true, parseOnLoad: true")
    script.
        require([
            "dojo/parser",
            "dijit/form/NumberTextBox",
            "dijit/form/Button",
            "dijit/form/DateTextBox",
            "dijit/form/TimeTextBox",
            "js/yetAnotherModule",
            "dojo/store/Memory",
            "dijit/form/FilteringSelect",
            "dojo/domReady!"]
        );

    style
        div {margin-bottom:50px;}
        p:hover { color: #F76F76; }

body.claro

    div(data-dojo-type="dijit/Dialog", id="foobar", title="Foo!")
        p I am some content


    script.
        require(["dijit/Dialog.js","dojo/domReady!"],function(Dialog) {
                    var myDialog = new Dialog({title: "Hello Dijit!"}, "foobar");
                    myDialog.startup();
                    myDialog.show();
                }
        )


    div
        h1 dupanka

    div#mydiv

        br

        div
            label(for="number") Age:

            input(
            id="number"
            type="text"
            value="67"
            required="true"
            data-dojo-type="dijit/form/NumberTextBox")

        br
        br

        input#date(
            value="2011-09-15"
            data-dojo-type="dijit/form/DateTextBox"
        )

        input#time(
            required="true"
            data-dojo-type="dijit/form/TimeTextBox"
            data-dojo-props="constraints:{timePattern: 'HH:mm:ss', clickableIncrement: 'T00:15:00', visibleIncrement: 'T00:15:00', visibleRange: 'T01:00:00'},invalidMessage: 'bad time'"
        )

    h1#greeting To jest test

    h1#greeting To jest greeting

    div(data-dojo-id="myStore", data-dojo-type="dojo/store/Memory", data-dojo-props="data:[{ name: 'Alabama', id: 'AL' },{ name: 'Alaska', id: 'AK' }, { name: 'Arizona', id: 'AZ' }, { name: 'California', id: 'CA' },  { name: 'Colorado', id: 'CO' },  { name: 'Connecticut', id: 'CT' }, { name: 'New York', id: 'NY' }]")

    select(id="mySelect", name="state", value="CA", data-dojo-type="dijit/form/FilteringSelect", data-dojo-props="searchAttr: 'name', store: myStore")


    button#myButt(
        type="button",
        data-dojo-type="dijit/form/Button",
        iconClass:'dijitIconNewTask',
        showLabel:false

    ) Click Me sucker@!


    script.
        require(["js/anotherModule"], function (anotherModule) {
            anotherModule.logMe("from anotheModule!");
        });

    script.
        require([
            'js/myModule'
        ], function (myModule) {
            myModule.setText('greeting', 'Hellojajko');
            setTimeout(function () {
                myModule.restoreText('greeting')
            }, 3000)
        });

    ul#list
        li.odd pierwszy element
            h1.italic testowy italic
        li.even drugi element
        li jakiś inny

    // require the query, dom, and domReady modules
    script.
        require(["dojo/query", "dojo/dom", "dojo/domReady!"], function (query, dom) {
            // retrieve an array of nodes with the ID "list"
            var list = query("#list")[0];
            var test = query(".italic");
        })

    //parseOnLoad: true"
